*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: 0;
    padding: 2rem;
    display: none;
}
.container-xxl{
    
    display: flex;
    justify-content: center;
}
.container-xl{
    display: none;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-container{
    max-width: 1500px;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    background-color: #F4F7FE;

}
.menu{
    display: flex;
    flex-direction: column;
    background: linear-gradient(149.96deg, #301F81 12.51%, #0F0441 89.53%);
    gap: 2rem;
    position: fixed;
    height: 100vh;
}
.page{
    width: 100%;
    padding-left: 245px;
}
.menu-logo{
    padding: 2rem 5rem 2rem 2rem;
    border-bottom:  #FFFFFF2B solid;
    border-width: 0.01mm;
}
.menu-logo h1{
    font-size: 23px;
    line-height: 28.75px;
    font-weight: 300;
    color: #FFFFFF;
}
.menu nav{
    flex: 1;
}
.menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.menu ul li{
    
    padding-top: 1rem;
}
.menu ul li a{
    text-decoration: none;
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFFB2;
    align-items: center;
    max-width: fit-content;
}
.menu ul li a:focus{
    background-color: #FFFFFF21;
    border-left: #1890FF solid;
    border-radius: 15px;
    padding: .5rem 5rem .5rem 1rem;
}
.main-page{
    padding: 1.5rem;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.heading h5{
    font-size: 14px;
    font-weight: 500;
    color: #707EAE;
}
.heading h1{
    font-size: 34px;
    font-weight: 700;
    color: #2B3674;
}
.search-bar{
    padding: 5px 10px;
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-icon{
    position: relative;
    display: flex;
    align-items: center;
}
.search-icon i{
    position: absolute;
    left: 1rem;
    color: #2B3674 !important;
}
.search-bar .search{
    padding: 10px 35px;
    border-radius: 20px;
    border: none;
    background-color: #F4F7FE;
}
.search-bar i{
    color: #A3AED0;
}
.list{
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 1rem;
}
.selector{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.list-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.modal-header{
    border-bottom: none;
}
.modal-footer{
    border-top: none;
}
.num-select{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.num-select label{
    font-size: 24px;
    font-weight: 700;
    color: #2B3674;
}
.num-select span{
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}
.num-select .select{
    padding: 5px;
    border-radius: 5px;
    border-color: #DDDDDD;
}
.add-button button{
    color: #FFFFFF;
    background-color: #4318FF;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}
.list-table{
    padding: 1rem;
    width: 100%;
}
.tablehead th{
    color: #8B95B7;
    font-size: 14px;
    font-weight: 500;
}
tbody th{
    color: #2B3674 !important;
}
.list-table td{
    color: #2B3674;
    font-size: 14px;
    font-weight: 700;
}
.list-table td button{
    background-color: #EBEFF8;
    border: none;
    padding: 3px 8px;
    border-radius: 5px;
}
.list-table td button i{
    color: #4318FF;
}
.last-person{
    border: transparent;
}
.nextpage-btn{
    text-align: end;
    padding: 1rem 0;
}
.nextpage-btn button{
    border: none;
    background-color: #FFFFFF;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 14px;
}
.nextpage-btn button:hover{
    color: #FFFFFF;
    background-color: #4318FF;
}
.side-footer footer{
    padding: 1rem 2rem;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    border-width: 0.01mm;
    border-top: #FFFFFF2B solid;
}
.main-footer footer{
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 1rem;
}
.footer .main-footer{
    border-top: #0000002B solid;
    border-width: 1px;
}
.main-footer label{
    font-size: 14px;
    font-weight: 700;
    color: #707EAE;
}
.footer-links a{
    text-decoration: none;
    color: #707EAE;
    font-size: 14px;
    font-weight: 500;
    margin: 0 15px;
}

/*///////////////form css////////////////////////*/
.form-select:focus{
    box-shadow: none;
}
.row{
    gap: 1rem;
    justify-content: center;
    padding: 0;
}
.row .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row .head button{
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    background-color: #F4F7FE;
}
.row .head i{
    color: #4318FF;
}
.upload{
    position: relative;
}
#customFile{
    opacity: 0;
    height: 10rem;
    position: absolute;
}
.text{
    height: 10rem;
    border: #B2BAD0 dashed;
    background-color: #FAFCFE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 0.2mm;
    border-radius: 15px;
}
.text i{
    color: #4318FF;
}
.text h1{
    font-size: 16px;
    font-weight: 700;
    color: #4318FF;
}
.text p{
    font-size: 12px;
    color: #8F9BBA;
    font-weight: 500;
}
label{
    font-size: 14px;
    font-weight: 500;
    color: #2B3674;
}
span{
    color: #FF1818;
}
.range{
    display: flex;
    gap: 10px;
    align-items: center;
}
.measure{
    width: 100px;
    border: #B6BBC7 solid;
    border-radius: 15px;
    border-width: 0.2mm;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.detail{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-check-input{
    box-shadow: none !important;
    color: #A1A9C2 !important;
}
.col .form-control{
    box-shadow: none;
    border-radius: 1rem;
}
.col .form-control:focus{
    border-color: #4318FF;
}
.col .form-select{
    box-shadow: none;
    border-radius: 1rem;
}
.col .form-select:focus{
    border-color: #4318FF;
}
.col{
    background-color: #ffffff;
    border-radius: 1rem;
}
h1{
    font-size: 24px;
    color: #2B3674;
    font-weight: 700;
}
h4{
    font-size: 16px;
}
.form-date{
    width: 100%;
    margin-top: 1rem;
    box-shadow: none;
    padding: 5px;
    border-radius: 1rem;
    border-width: 0.1mm !important;
    border: #B6BBC7 solid;
}
.form-control{
    width: 100%;
}
.form-check{
    margin: 1rem 0 0 0;
}
p{
    font-size: 14px;
    margin: 0;
}

.col button{
    font-size: 16px !important;
}
.col .button{
    color: #fff;
    background-color: #4318FF;
    border-radius: 15px;
}
.side{
    text-align: end;
    padding: 1rem 0;
}

.col-3 .text{
    height: 8rem;
}

.col-5{
    background-color: #ffffff;
    border-radius: 1rem;
}
.delete-detail{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.delete-detail h1{
    font-size: 24px;
    color: #2B3674;
    font-weight: 700;
}
.warning{
    color: #2B3674;
    font-size: 18px;
    font-weight: 500;
}

.output-form{
    max-width: 735px;
    padding: 1.5rem;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.profile{
    text-align: center;
    margin: -70px 0 10px 0;
}
.profile h5{
    color: #2B3674;
    font-size: 20px;
    font-weight: 700;
}
.profile p{
    color: #707EAE;
    font-size: 14px;
    font-weight: 500;
}
.output-form .general{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
.output-form .info{
    width: 100%;
    padding: 1rem 0 1rem 1rem;
    border-radius: 10px;
    box-shadow: 0px 18px 40px 0px #7090B01F;
}
.output-form .info h6{
    color: #707EAE;
    font-size: 14px;
    font-weight: 500;
}
.output-form .info p{
    color: #2B3674;
    font-size: 16px;
    font-weight: 500;
}
.background img{
    max-width: 100%;
}

.dropdown-menu{
    padding: 0;
}
.dropdown-menu button{
    width: 100%;
    background-color: #fff !important;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 1rem !important;
    color: #2B3674;
    font-size: 14px;
    font-weight: 700;
}
.link{
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #2B3674;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
}
.link i{
    color: #8B95B7 !important;
}
.dropdown-menu button i{
    color: #8B95B7 !important;
}
.dropdown-toggle::after{
    display: none;
}
#option:hover{
    background-color: #EBEFF8;
}

.modal-backdrop.show{
    display: none !important;
}
#confirmdel{
    color: #fff;
    background-color: #4318FF;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    border: none;
}
#confirmadd{
    color: #fff;
    background-color: #4318FF;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    border: none;
}
#confirmedit{
    color: #fff;
    background-color: #4318FF;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    border: none;
}